﻿.fizz, .wizz
{
    color:blue;
}

.buzz, .wuzz
{
    color:forestgreen;
}
header
{
color:blue;
font-size:50px;
font-weight:900;
}
.span
{
color:forestgreen;
font-size:50px;
font-weight:900;
}
.app
{
    color:black; 
    font-size:15px; 
    font-style:italic;
}

