﻿@model FizzBuzz.Web.Models.FizzBuzzViewModel
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";   
}



@using (Html.BeginForm("FizzBuzzOutput", "FizzBuzz"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">             
               @Html.TextBoxFor(model => model.Number, new { @Value = (@Model.Number == 0) ? "" : @Model.Number.ToString() })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="form-group">

        @if (Model.FizzBuzzOutput != null)
        {
            <table>

                @for (var i = 0; i < Model.FizzBuzzOutput.Count; i++)
                {
                    
                    <tr>
                        <td>
                        @foreach(var item in Model.FizzBuzzOutput[i].Split(' '))
                            {
                                <span class="@item"> @item </span>
                            }
                         </td>
                    </tr>
                   
                }

                </table>
            
                <div class="pagination">
                    Page @(Model.FizzBuzzOutput.PageCount < Model.FizzBuzzOutput.PageNumber ? 0 : Model.FizzBuzzOutput.PageNumber)
                    of @Model.FizzBuzzOutput.PageCount
                    @Html.PagedListPager(Model.FizzBuzzOutput,
                page => Url.Action("FizzBuzzOutput", "FizzBuzz", new { Model.Number, page }))
                </div>
            
        }
        </div>

}
